.spoiler {
    display:inline;
  }
  .spoilerText{
    display:none;
  }
  .spoilerChecked{
    visibility:hidden;
  }
  .spoilerChecked:after{
    content:attr(showText)"\25B6";
    visibility:visible;
  }
  .spoilerChecked:checked:after{
    content:attr(showText)"\25BC";
  }
  .spoilerContent{
    display:block;
    height:auto;
    max-height:0;
    padding-left:10px;
    margin-left:5px;
    transform: scaleY(0);    
    transform-origin: top;
    border-left: 1px solid #000;
    transition: max-height 0.2s, transform 0.2s;
  }
  .spoilerChecked:checked + .spoilerContent{
    max-height:1000px;
    display:block;
    transform: scaleY(1);
  }