.spoiler {
    display:inline;
  }
  .spoilerText{
    display:none;
  }
  .spoilerChecked{
    visibility:hidden;
  }
  .spoilerChecked:after{
    content:attr(showText) "\21D2";
    visibility:visible;
  }
  .spoilerChecked:checked:after{
    content:attr(showText) "\25BC";
  }
  .spoilerContent{
    display:block;
    height:auto;
    max-height:0;
    padding-left:0px;
    margin-left:0px;
    transform: scaleY(0);    
    transform-origin: top;
    border-left: 0px solid #f0f3f3;
    transition: max-height 0.2s, transform 0.2s;
  }
  .spoilerChecked:checked + .spoilerContent{
    max-height:4000px;
    display:block;
    transform: scaleY(1);
  }